<footer id="site-footer">
  <div class="container">
    <h4>This is a footer</h4>
    <h5>
      <a href="<%=build? ? site_baseurl : '/' %>" class="site-title"><%=site_title%></a>
    </h5>
  </div>
</footer>
